body {
  background-color: #dbe2ef;
}
hr{
  border-style: dotted none none;
  width: 10%;
  border-color: grey;
  border-width: 10px;
}

h1{
  color: #112d4e;
}
h2{
  color: #112d4e;
}
h3{
  color: #112d4e;
}
img{
  border-radius: 8px;
}
html{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
